.picrossCell {
    outline-style: solid;
    outline-width: 1px;
}

.picrossCell:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.picrossContent {

}

.picrossCell.active {
    background-color: black;
}

#picrossTable {
    width: 100%;
}

.columnCounts {
    text-align: center;
    vertical-align: bottom;
}

.rowCounts {
    width: 10%;
}

.rowCountsDiv {
    float: right;
}
