.picrossCell {
    outline-style: solid;
    outline-width: 1px;
}

.picrossCell:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.picrossCell.active {
    background-color: black;
}

#picrossTable {
    width: 100%;
}
