.picrossCell {
    outline-style: solid;
    outline-width: 1px;
    position: relative;
    user-select: none; /* CSS3 (little to no support) */
    -ms-user-select: none; /* IE 10+ */
    -moz-user-select: none; /* Gecko (Firefox) */
    -webkit-user-select: none; /* Webkit (Safari, Chrome) */
}

.picrossCell:after {
    content: '';
    display: block;
    margin-top: 100%;
}

.cellContent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.picrossCell.active {
    background-color: black;
}

#picrossTable {
    width: 100%;
}

.columnCounts {
    text-align: center;
    vertical-align: bottom;
}

.rowCounts {
    width: 10%;
}

.rowCountsDiv {
    float: right;
}

#picrossName {
    width: 100%;
}
